@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --primary-color: #550FED;
    --secondary-color: #CCB7F9;
    --black: #1E1E1E;
    --gray: #716C7C;
    --border: #C8C2D6;
    --background: #F2F4F5;
}

html{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
/*reset*/
body{
    padding: 0px;
    margin: 0px;

}

ul, li{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a{
    text-decoration: none;
}




header{
    background-color: var(--primary-color);
    padding: 28px 0px;

}
section{
    width: 1205px;
    margin: 0px auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 84px;

}

nav ul{
    display: flex;
    gap: 72px;
}

nav ul li a{
    color: var(--secondary-color);
}
nav ul li a:hover{
    color: var(--black);
}

div h2{
    color: white;
    text-align: center;
}



form{
    background-color: var(--background);
    width: 843px;
    margin: 0 auto;
    padding: 20px 24px;
    border-radius: 8px;
}
 form button{
    background-color: var(--black);
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 14px 82px;
 }

form input {
    background-color: transparent;
}
form input{
    background-color: transparent;
    width: 72%;
    border: none;
    height: 35px;
}



















